$mobile_size: 670px;
$medium_size: 800px;
$large_size: 1000px;
$big_size: 1300px;

$color-background: rgb(33,33,33);
$color-background-own-apple: rgb(118,106,200);
$color-title-white: #e5e5e5;
$color-response-successful: #39ff14;
$color-paragraphs-blue: #0dcaf0;
$color-input-placeholder: #6c757d;
$color-input-background: rgba(255,255,255,0.07);
$color-drop-down-divider: rgba(255,255,255,0.533333);
$color-drop-down-hover: #2f2f2f;
$color-primary: rgb(135,116,225);
$color-borders: rgb(48,48,48);
$color-primary-opacity: rgba(131,120,219,0.501961);
$color-navigation-bar-hover: #2f2f2f;
$color-avatar-border: #F8F8F8